<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>

    <!-- to output SQL and params
     <logger name="org.hibernate.SQL" level="DEBUG"/>
     <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
    -->
</configuration>
